services:
  frontend:
      build:
        context: ./frontend
        dockerfile: Dockerfile
      ports:
        - "3000:3000"
      env_file:
        - ./frontend/.env
      depends_on:
        - rag-backend

  api:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3001:3001"

  rag-backend:
    build:
      context: ./backend/rag_api
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./backend/rag_api/.env
    depends_on:
      - mongodb

  mongodb:
    image: mongo
    ports:
      - "27017:27017"
    container_name: avfrontend-mongo
    restart: always
    volumes:
      - mongo-data:/data/db

# Declare the named volume here
volumes:
  mongo-data: